body {
  background-color: black;
  margin: 0;
}

.keys-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  position: relative;
}

.temp-container {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
}

.key {
  margin: 0;
  position: relative;
  vertical-align: top;
  border: 1px solid black;
  width: 5rem;
  height: 15rem;
  border-radius: 5px;
  display: inline-block;
  background-color: white;
  transition: height 0.2s;
}

.key-sharp {
  position: absolute;
  padding: 0.5rem 0;
  background-color: black;
  color: white;
  width: 4rem;
  height: 9.5rem;
  z-index: 100;
  left: 0;
  top: 0;
  border-radius: 5px;
}

#keyW {
  margin-left: 3.1rem;
}

#keyE {
  margin-left: 8.2rem;
}

#keyT {
  margin-left: 18.5rem;
}

#keyY {
  margin-left: 23.6rem;
}

#keyU {
  margin-left: 28.7rem;
}

span.letter {
  position: relative;
  top: 90%;
}

.pressed {
  background-color: grey;
  height: 13rem;
}
