body {
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100vh;
  background-color: black;
  /* To fix 2 extra pixel bug for 100vh. */
  display: block;
}

#sec {
  stroke: white;
  stroke-width: 1;
  transform-origin: 50% 50%;
}

#min {
  stroke: white;
  stroke-width: 2;
  transform-origin: 50% 50%;
}

#hr {
  stroke: white;
  stroke-width: 3;
  transform-origin: 50% 50%;
}
